.inputcontainer {
    margin: 0;
    width: 100%;
    height: 90%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.formcontainer {
    border-radius:10px;
    background-color: gray;
    position: absolute;
    width: auto;
    height: auto;
    border:2px black solid;
    padding:2px;
    transform: scale(3);
    z-index: 3;
}
img {
    display: none;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0.5;
}

body {
    height: 100%;
    margin: 0;
    z-index: 1;
}
.calender{
    position: absolute;
    left:50%;
    top: 50%;    
    transform: translate(-50%, -50%);
}
.record {
    width: 300px;
    height: 100%;
    overflow: scroll;
    border-left: 1px solid black;
}
.record::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}
